@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url('../src/assets/fonts/NotoSansCJKjp-Thin.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Thin.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Thin.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Thin.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url('../src/assets/fonts/NotoSansCJKjp-Light.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Light.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Light.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Light.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-DemiLight.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-DemiLight.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-DemiLight.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Regular.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Regular.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Regular.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/NotoSansCJKjp-Medium.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Medium.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Medium.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Medium.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/NotoSansCJKjp-Bold.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Bold.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Bold.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Bold.eot') format('embedded-opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url('../src/assets/fonts/NotoSansCJKjp-Black.woff2') format('woff2'),
  url('../src/assets/fonts/NotoSansCJKjp-Black.woff') format('woff'),
  url('../src/assets/fonts/NotoSansCJKjp-Black.ttf')  format('truetype'),
  url('../src/assets/fonts/NotoSansCJKjp-Black.eot') format('embedded-opentype');
}
